#header__three{
    display: flex; 
    align-items: center;
    gap: 10px;
    flex-grow: 1;

}

#sort__team{
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 10px;
    flex-grow: 1;
}



#sort__teamss{
    padding:0 6%;
    width: 30rem;
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 18px;
    margin-top: 3%;
}


@media only screen and (max-width: 600px){
    #sort__teamss{
    flex-direction: column;
   margin-left: auto;
   margin-right: auto;
   width:100%;
}
}

.selectTeam, .selectTeam2{
    background-color: #EFF2F9;
    padding: 3%;
    width:140px;
    border:none; 
    font-size: 18px;
}
.selectTeam{
    width:140px;
    padding-right: 8%;

}