.hng__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
    padding: 2% 6.5%;
    gap: 48px
}

#headerone{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.5%;
    width: 100%;
    font-family: 'Red Rose';
    font-style:normal;
    font-weight:400;
    font-size:20px;
}



.searchbar{
    display: flex;
    border: 2px solid grey;
    border-radius:20px;
    padding:10px;
}

.searchbar input{
   width: 300px;
   border: none;
   height:20px;
   size:30px;
   
}


@media only screen and (max-width: 600px){
    #searchbar{
    flex-direction:row;
   margin-left: auto;
   margin-right: auto;
   /* width:100%; */
}

#headerone{
    flex-direction:row;
   margin-left: auto;
   margin-right: auto;
   /* width:100%; */
}

.hng__logo{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
}




