/* =====FIRST====== */

.mechanicWrapper{
    /* width: 100%; */
    height: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    margin:4% 6% 0 6%;

}

.mechanicInfo{
    width: 100%;
}
.machanic{
    border-radius: 8px;
    border: 0.5px solid #E6E6E6;
    padding: 2%;
    margin-bottom:6%;
    background-color: #FDFEFF;
}

.mec-team{
    display: flex;
    align-items: center;
    gap: 2%;
    margin: 2% 0 5% 0;
    padding-right:20px ;
}

.team-count{
    display: flex;
    gap: 10px;
    width: 100%; 
}

.team-count > :nth-child(odd){
    background-color: #FDF0F0;
    flex-grow: 1;
}

.team-count > :nth-child(even){
    background-color: #EFF2F9;
    flex-grow: 1;
}

.team-count > div{
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 2%;
}

/* =====SECOND====== */
.leadWrapper{
background-color: #E5F2FF;
width: 60%;
}

.lead{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 4%;
}

.leadTab{
    width: 100%;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    justify-content: space-between;
}